@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

.App {
    text-align: center;
}

h1 {
    font-family: 'Bigelow Rules', cursive;
    text-align: center;
    font-size: 72px;
    color: #0ccac4;
}